<<<<<<< HEAD

=======
>>>>>>> 7746a52b859e710df3107e2dc91b14a1dba9b9ae
h2{
    font-size: 70px;
    text-decoration:underline;
    font-family: tahoma;

}

p2{
    font-family:Times;
    font-size:35px;
    text-align: left;
    color: black;
}

p3{
    font-family:Tahoma;
    font-size:13px;
    text-align: left;
}

h3{
    font-size: 57px;
    font-family: 'Times new roman';
    margin: 0;

}

<<<<<<< HEAD
h5{
    font-size: 57px;
    font-family: 'Times new roman';
    margin: 0;
}

=======
>>>>>>> 7746a52b859e710df3107e2dc91b14a1dba9b9ae
nav{
    align-items: center;
    display:flex;
    justify-content: space-evenly;
    min-height: 8vh;

}



.subsec a{
    color: #000;
    font-family:'Arial Narrow';
    border:5px solid rgb(101, 131, 45);
    font-size: 40px;
    text-decoration: none;
    float: left;
}

.subsec a:hover{
    transition: .2s;
    border:4px solid rgb(113, 153, 39);
}


.buttonc{
    
    color: #000;
    font-family:'Arial Narrow';
    background-color: goldenrod;
    font-size: 35px;
    border-radius: 20px;
    width: 140px;
    height:40px;
    text-decoration: none;
}

.head1{
    color: #ffff;
    font-family: Verdana;
    font-style: bold;
    text-align: center;
    !margin-top: 180px;
    font-size: 70px;
    padding: auto;
    transition: ease-in-out;
}

body{
    background-color: whitesmoke;
    margin: 0;

}

.img11{
    max-width: 100%;
    height: auto;
}

.desc1{
    color: #ffff;
    font-family: Tahoma;
    font-size: 14x;
    text-align: center;
    
}

header{
    background-color: rgb(101, 131, 45);
    padding: 12px; 
    overflow:hidden  
}

header a{
    font-family:'Times';
    text-decoration: none;
    font-size: 17px;
    padding: 45px;
    color: #000f;
    transition: 1s ease;
}

header a:hover{
    transition: .2s;
    color: #ffff
}

.section1{
    font-family:Tahoma;
    font-size:30px;
    
}

.main{
    
    background-color: whitesmoke;
    border-top: rgb(101, 131, 45) 12px solid;

    
}

#map{
    width:100%;
    height: 100vh;

}

h4{
    font-family:tahoma;
    font-size: large;
    float:right;
    position:relative;
    font-size: 50px;

}
h5{
    float:right;
    position:relative;
}

p1{ 
    font-family:Tahoma;
    font-size:18px;
    text-align: left;

}

.subsec{
    display:flex;
    justify-content:space-between;
    padding:60px;
<<<<<<< HEAD
    width: 84;
=======
    width: 84%;
>>>>>>> 7746a52b859e710df3107e2dc91b14a1dba9b9ae
    margin-left: 6%;
}
   
.subsec1{
    display:block;
    justify-content:space-between;
    padding:60px;
    width: 84%;
    margin-left: 6%;
}

<<<<<<< HEAD
.subsec2{

    text-align: left;
    display:flex;
    justify-content:space-between;
    padding:60px;
    width: 94%;
    margin-left: 6%;
}

* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px; 
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


=======
>>>>>>> 7746a52b859e710df3107e2dc91b14a1dba9b9ae
